<a href="https://colab.research.google.com/github/AheliNandy-A/Python/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1 Celsius to Farenheit

In [ ]:
celsius = float(input("Enter temperature in celsius: "))
farenheit = (celsius * 1.8) + 32
print("%.2f Celsius is equal to %.2f farenheit"%(celsius,farenheit))

Enter temperature in celsius: 47
47.00 Celsius is equal to 116.60 farenheit

Q2 Swap two numbers

In [ ]:
num1 = int(input("Enter first number: "))
num2 =int (input("Enter second number: "))

print("Before Swapping numbers are num1: %d, num2: %d: " %(num1,num2))
temp = num1
num1 = num2
num2 = temp

print("After Swapping numbers are num1: %d, num2: %d: " %(num1,num2))

Enter first number: 50
Enter second number: 25
Before Swapping numbers are num1: 50, num2: 25:
After Swapping numbers are num1: 25, num2: 50:

Q3: Given year is leap year or not

In [2]:
year = int(input("Enter a year "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year 2024
2024 is a leap year.

Q4. Display reverse of a number

In [6]:
num = int(input("Enter a number "))

num1 = num
sum = 0
while num1 != 0:
  digit = num1 % 10
  sum = (sum*10)+digit
  num1 = num1 // 10

print(f"Reverse of {num} is {sum}")

Enter a number 125
Reverse of 125 is 521

Q5. Factors of a given number

In [8]:
num = int(input("Enter a number "))

print(f"Factors of {num} are: ")
for i in range(1, num + 1):
  if num % i == 0:
    print(i)

Enter a number 6
Factors of 6 are:
1
2
3
6

Q6. Generate prime number series up to n

In [14]:
n = int(input("Enter value for n: "))

print(f"Prime numbers up to {n} are:")

for i in range(2, n + 1):
    is_prime = True
    for j in range(2, int(i ** 0.5) + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        print(i)

Enter value for n: 25
Prime numbers up to 25 are:
2
3
5
7
11
13
17
19
23

Q7. Write a program which makes use of function to display all such numbers which are divisible by 7 but are not a multiple of 5, between 1000 and 2000.

In [15]:
def find_numbers():
    results = []
    for num in range(1000, 2001):
        if num % 7 == 0 and num % 5 != 0:
            results.append(num)
    print("Numbers divisible by 7 but not a multiple of 5 between 1000 and 2000 are:")
    print(results)
find_numbers()

Numbers divisible by 7 but not a multiple of 5 between 1000 and 2000 are:
[1001, 1008, 1022, 1029, 1036, 1043, 1057, 1064, 1071, 1078, 1092, 1099, 1106, 1113, 1127, 1134, 1141, 1148, 1162, 1169, 1176, 1183, 1197, 1204, 1211, 1218, 1232, 1239, 1246, 1253, 1267, 1274, 1281, 1288, 1302, 1309, 1316, 1323, 1337, 1344, 1351, 1358, 1372, 1379, 1386, 1393, 1407, 1414, 1421, 1428, 1442, 1449, 1456, 1463, 1477, 1484, 1491, 1498, 1512, 1519, 1526, 1533, 1547, 1554, 1561, 1568, 1582, 1589, 1596, 1603, 1617, 1624, 1631, 1638, 1652, 1659, 1666, 1673, 1687, 1694, 1701, 1708, 1722, 1729, 1736, 1743, 1757, 1764, 1771, 1778, 1792, 1799, 1806, 1813, 1827, 1834, 1841, 1848, 1862, 1869, 1876, 1883, 1897, 1904, 1911, 1918, 1932, 1939, 1946, 1953, 1967, 1974, 1981, 1988]

Q8. Given number is palindrome or not.

In [16]:
num = int(input("Enter a number: "))

num1 = num
sum = 0
while num1 != 0:
  digit = num1 % 10
  sum = sum * 10 + digit
  num1 = num1 / 10

if sum == num:
  print(f"{num} is a palindrome number")
else:
  print(f"{num} is not a palindrome number")

Enter a number: 125
125 is not a palindrome number